body {
    margin: 0;
    
}
#brand {
display: flex;

}

.gradient-background {
    background: linear-gradient(300deg, #51c5e8, #677b83, #d39075);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    
  }
.dropdown {
    display: none;
}
 
.gradient-background1 {
  background: linear-gradient(300deg, #51c5e8, #677b83, #d39075);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
height: 5%;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}
#contain {
  display: block;
  width: 65%;
  padding-bottom: 8.3rem;
  margin: auto;
}

.contain {
  display: block;
  width: 65%;
  padding-bottom: 8.3rem;
  margin: auto;
}
.nadpis {
  display: none;
}
.popis {
  display: none;
}
.huge {
  font-size: 5rem;
}
.contain1 {
  display: block;
  width: 49%;
  padding-bottom: 8.3rem;
  margin: auto;
}
.contain2 {
  display: block;
  width: 30%;
  padding-bottom: 8.3rem;
  margin: auto;
}
.contain3 {
  display: block;
  width: 82%;
  padding-bottom: 8.3rem;
  margin: auto;
}
.box {
  width: 100%;
  height: 1000px;
  background-color: aqua;
}
.grid {
  
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  background-color: white;
  margin-bottom: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  align-items: center;
  padding: 3rem;
}
.prvni {
  width: 90%;
  margin: auto;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 1.35rem;
  color: black;
  font-weight: bold;
}
.grid-item {
  justify-self: center;

}
.filling {
  height: 5rem;
}
.bold {
font-weight: bold;
color: black;
font-size: large;
}
.number {
  font-size: large;
}

.gradient-background2 {
  background: linear-gradient(300deg, #51c5e8, #677b83, aquamarine);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}
.navbarek {
  width: 100%;
  height: 5rem;
  background-color: rgb(31, 31, 31);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  position: fixed;
}
@media (max-width: 500px) {
.navbarek {
  width: 100%;
  height: 5rem;
  background-color: rgb(31, 31, 31);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  opacity: 1;
  z-index: 3;
}
}
.kryti{
  width: 100%;
  height: 5rem;
  background-color: rgb(31, 31, 31);
}
.navbarek-item {
justify-self: center;
}
.branda {
  flex-shrink: 1;
}
.brandatext {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.brandatext:hover {
  color: rgb(178, 178, 178);

}
.navbartext{
  text-decoration: none;
  font-size: large;
  color: grey;

}
.navbartext:hover{
  color: rgb(255, 255, 255);
}
.navbartext:focus{
  color: aqua;
}

.navbartextactive {
  text-decoration: none;
  font-size: large;
  color: aqua;
}
.navbartextactive:hover {
  color: white;
}
.navbartextactive:focus {
  color: gray;
}
.margintop {
  margin-top: 5rem;
}
.dokumenty-grid {
  background-color: white;
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
  grid-template-rows: auto;
  width: 90%;
  margin:  1rem auto 5rem;
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;  
}
.document-text {
  font-size: large;
  color: black;

}
.document-right {
  justify-self: center;
}
.svg-icon {
  width: 10rem;
}
.document-podtext {
  font-size: large;
  padding-left: 2rem;
}
.stanovy-schovany {
 display: none;
}
.form-schovany {
  display: none;
}
.dokumenty-ke-stazeni {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.countdowning {
  width: 100%;
  background-color: white;
  border-top: 0.7rem solid gray ;
  border-bottom: 0.7rem solid gray ;
  margin-bottom: 5rem;
  padding-bottom: 2rem;

}
#demo {
  border: 5px solid gray;
  border-radius: 1rem;
  padding: 1rem;
  width: auto;
 display: inline-block;
color: aqua;
}
.footeer{
margin-bottom: 0;
position: absolute;
bottom: 0;
}
.gradient-background12 {
  background: linear-gradient(300deg, #51c5e8, #677b83, #d39075);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}
.clankovy-container {
  background-color: white;
  width: 80%;
  margin: auto;
margin-top: 0;

}
.heading-clanek {
  margin: 0;
  padding: 1rem;
  font-family: 'Abhaya Libre', serif;
  font-size: 4rem;
}
.clankovy-container1 {
  padding: 2rem  ;
}
.clankovy-container2 {
  padding: 2rem;
}
.card-text {
color: white;
font-size: larger;
}
@media (max-width: 500px) {
  .clankovy-container {
    width: 100%;
  }
  .articlebot {
  width: 100% !important;
  }
}
